<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="/deps/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/deps/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/css/main.css">

    <title>Famcation - Beer Tasting</title>
</head>
<body>
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/">Famcation</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-content"
                aria-controls="navigation-content" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navigation-content">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/beer"><i class="fa fa-beer"></i> Beer Tasting <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div id="beer-container" class="container">

</div>

<!-- Optional JavaScript -->
<script src="/deps/jquery/jquery.slim.js"></script>
<script src="/deps/popper.js/umd/popper.js"></script>
<script src="/deps/bootstrap/js/bootstrap.js"></script>
</body>
</html>
